<template>
  <div class="task">
    <h1 class="task__title">7.1. Funktionen in JavaScript</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Funktion identity_function(), die ein Argument als
          Parameter entgegennimmt und eine Funktion zurückgibt, <br />
          die dieses Argument zurückgibt.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function identity_function(x) {
    return (
        function() {
            return x;
        }
    )
}                
              </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Addier-Funktion addf(), so dass addf(x)(y) genau x
          + y zurück gibt.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function addf(x){
    return (
        function(y) {
            return x+y;
        }
    )
}          
              </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Funktion applyf(), die aus einer binären Funktion
          wie add(x,y) eine Funktion addfberechnet, <br />
          die mit zwei Aufrufen das gleiche Ergebnis liefert
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function applyf(binaryF) {
    return (
        function(x) {
            return (
                function(y) {
                    return binaryF(x,y);
                }
            )
        }
    )
}      
              </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Funktion curry() (von Currying), die eine binäre
          Funktion und ein Argument nimmt, <br />
          um daraus eine Funktion zu erzeugen, die ein zweites Argument entgegen
          nimmt
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function curry(f, x){
    return function(y){
        return f(x,y);
    }
}     
              </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Funktion methodize(), die eine binäre Funktion
          (z.B. add, mul) in eine unäre Methode verwandelt.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function methodize(f){
  return function(x){
   return f(this,x);
  }
}

Number.prototype.add = methodize(add); 
              </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Funktion demethodize(), die eine unäre Methode
          (z.B. add, mul) in eine binäre Funktion umwandelt.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function demethodize(f) {
	return (function(x, y) {
		return f(x, y);
	});
}
Number.prototype.add = add;          
              </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine rücknehmbare Funktion revocable(), die als
          Parameter eine Funktion nimmt und diese bei Aufruf ausführt.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function revocable(f) {
	return {
		isRevok: false,
		invoke: (a) => {
			if(!this.isRevok) {
				f(a);
			} else {
				return ("Sie Müssen revoke machen");
			}
		},
		revoke: () => {
			this.isRevok = true;
		}
	};
}           
              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult1: false,
      showResult2: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
