<template>
  <div class="task">
    <h1 class="task__title">7.2. Textanalyse mit filter-map-reduce</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie in JavaScript eine Textanalyse. Ermitteln Sie die
          häufigsten Begriffe im Text Plagiatsresolution.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function textAnalyzer(text){
    return Object.entries(
            text
            .replace(/&lt;[^&gt;]*&gt;|[\r\n\t\.,\d\(\)\-"]/g, ' ') //change unwanted characters / tags / linebreaks etc. to spaces
            .replace(/ {2,}/g, ' ') //remove unnecessary spaces
            .toLowerCase() //remove case
            .split(' ') //split text at spaces into array with single words
            .filter((word) =&gt; !stopWords.includes(word)) //remove stop words
            .reduce( //count occurances into an object
                (res, word) =&gt; {
                    if(word in res) res[word]++;
                    else res[word] = 1;
                    return res;
                },
                {}
            )
        )
        .sort((a, b) =&gt; b[1] - a[1]) //sort descending
        .slice(0,3); //return only the 3 most frequent words
}
              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
      showResultTablet: false,
      showResultMobile: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
