<template>
  <div class="task">
    <h1 class="task__title">10.2. Fehler finden mit TypeScript</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Was ist der Fehler in dem gegebenen JavaScript-Code?
        </h3>

        <div class="subtask__solution">
          <span class="customListItem"
            >Wenn man das als pur javascript ausführt, dann gibt es keine
            Fehler.
          </span>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Geben Sie hier Ihren TypeScript-Code ein:
        </h3>

        <div class="subtask__solution">
          <pre>
            <code>
const add = (x: number, y:number): number =&gt; x+y;
const equals = (x: any, y: any): boolean =&gt; x===y;

console.log( add(1,2) );
console.log( add(true, true ) );
console.log( add(true, false ) );
let x = 1; 
let y = 1;
console.log( add(equals(x,y), equals(y,x)) );
            </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Welche Fehler meldet TypeScript?
        </h3>

        <div class="subtask__solution">
          <span class="customListItem">
            Zeile 5, 6 und 9: Argument of type 'boolean' is not assignable to
            parameter of type 'number'.
          </span>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Geben Sie hier Ihren TypeScript-Code ein:
        </h3>

        <div class="subtask__solution">
          <pre>
            <code>
class Person {
    constructor(public firstname: string, public lastname: string) {}
} 
const p = new Person('Ameur', 'Khemissi');
console.log(p.age)

=&gt; Property 'age' does not exist on type 'Person'.
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskTwo",
  data() {
    return {};
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
