<template>
  <div class="task">
    <h1 class="task__title">10.1. Static classes in TypeScript</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          GSchreiben Sie in TypeScript möglichst umfangreich statisch typisiert
          ein auf Deno ablauffähiges Programm server.ts, <br />
          das Sie mit deno run --allow-net server.ts starten können.
        </h3>

        <div class="subtask__solution">
          <pre>
            <code>
class Corona {
    constructor(public place: string, public cases: number) {
    }
}

class Stats {
    constructor(public total: number, public min: number, public max: number, public average: number) {
    }
}

const getStats = (coronaCases: Corona[]): Stats =&gt; {
    let sum = 0;
    let max: number = coronaCases[0].cases;
    let min: number = coronaCases[0].cases;
    coronaCases.forEach((c) =&gt; {
        sum += c.cases
        if (c.cases &gt; max) max = c.cases;
        if (c.cases &lt; min) min = c.cases;
    })

    return new Stats(sum, min, max, sum / coronaCases.length);
}

const coronaCases: Corona[] = [
    new Corona('Baden-Württenberg', 932965),
    new Corona('Bayern', 1246136),
    new Corona('Berlin', 297446),
    new Corona('Brandeburg', 210009),
    new Corona('Bremen', 42434),
    new Corona('Hamburg', 122871),
    new Corona('Hessen', 445589),
    new Corona('Me-Vo', 85065),
    new Corona('Niedersachsen', 404962),
    new Corona('NRW', 1274675	),
    new Corona('Rhein-land-Pfalz', 257311),
    new Corona('Saarland', 68236),
    new Corona('Sachsen', 591502),
    new Corona('Sachsen-Anhalt', 194507),
    new Corona('Schleswig-Holstein', 104875),
    new Corona('Thüringen', 253023)
]

// Start listening on port 8080 of localhost.
const server = Deno.listen({port: 8080});
console.log(`HTTP webserver running.  Access it at:  http://localhost:8080/`);

// Connections to the server will be yielded up as an async iterable.
for await (const conn of server) {
    // In order to not be blocking, we need to handle each connection individually
    // without awaiting the function
    serveHttp(conn);
}

async function serveHttp(conn: Deno.Conn) {
    // This "upgrades" a network connection into an HTTP connection.
    const httpConn = Deno.serveHttp(conn);
    // Each request sent over the HTTP connection will be yielded as an async
    // iterator from the HTTP connection.
    for await (const requestEvent of httpConn) {
        // The native HTTP server uses the web standard `Request` and `Response`
        // objects.
        const stats = getStats(coronaCases);
        const body = `total: ${stats.total}, min: ${stats.min}, max: ${stats.max}, average: ${stats.average}`
        // The requestEvent's `.respondWith()` method is how we send the response
        // back to the client.
        requestEvent.respondWith(
            new Response(body, {
                status: 200,
            }),
        );
    }
}      
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {};
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
