<template>
  <div class="task">
    <h1 class="task__title">10.1. Static classes in TypeScript</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Gibt es in TypeScript statische Klassen? Erläutern Sie den Unterschied
          von TypeScript zu anderen objekt-orientierten, <br />
          statisch typisierten Programmiersprachen wie Java und C#.
        </h3>

        <div class="subtask__solution">
          <span class="customListItem">
            Es gibt in Typescript keine statische Klassen. Der Grund dafür ist,
            dass man das im Gegensatz zu anderen objekt-orientierten Sprachen
            wie java nicht unbedingt braucht. <br />
            In den anderen OOP Programmiersprachen muss man immer alles
            innerhalb einer Klasse schreiben. Aus diesem Grund gibt es "static
            class". Das ist aber nicht der Fall für Typescript. <br />
            source:
            https://www.typescriptlang.org/docs/handbook/2/classes.html#why-no-static-classes
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
