<template>
  <div class="task">
    <h1 class="task__title">11.2. Menü-Komponente</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine möglichst flexible Vue.js Single File Component für
          Menüs und wenden Sie diese in derselben Webseite zweimal an,<br />
          einmal horizontal, das andere Mal vertikal.
        </h3>

        <div class="subtask__solution">
          <pre>
            <code>
&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="UTF-8" /&gt;
    &lt;title&gt;Vue Menu&lt;/title&gt;
    &lt;script&gt;
      const list = [
        { href: "#", name: "link1" },
        { href: "#", name: "link2" },
        { href: "#", name: "link3" },
        { href: "#", name: "link4" },
      ];
    &lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id="app"&gt;
      &lt;div style="background-color: green"&gt;
        &lt;reusable-menu v-bind:list="list"&gt;&lt;/reusable-menu&gt;
      &lt;/div&gt;

      &lt;div style="background-color: red"&gt;
        &lt;reusable-menu
          v-bind:list="list"
          v-bind:is_vertical="true"
        &gt;&lt;/reusable-menu&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"&gt;&lt;/script&gt;
    &lt;script src="./vue2.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;

Vue.component("reusable-menu", {
  props: {
    list: Array,
    is_vertical: false,
  },
  computed: {
    inlineStyle() {
      return {
        "list-style": "none",
        display: "flex",
        "flex-direction": this.is_vertical ? "column" : "row",
        "justify-content": this.is_vertical ? "flex-start" : "center",
        gap: "20px",
      };
    },
  },
  template: `
	&lt;ul v-bind:style="inlineStyle"&gt;
		&lt;li v-for="(element, index) in list" :key="index"&gt;
			&lt;a v-bind:href="element.href"&gt;&#123;&#123;element.name&#125;&#125;&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
	`,
});

new Vue({
  el: "#app",
});

            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskTwo",
  data() {
    return {};
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
