<template>
  <div class="task">
    <h1 class="task__title">11.1 Komponente in Vue.js</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Geben Sie Ihre Vue.js Single File Component hier ein:
        </h3>

        <div class="subtask__solution">
          <pre>
           <code>
Vue.component("statistics", {
    data() {
      return {
        inputText: "",
      };
    },
    computed: {
      letters() {
        return this.inputText.replace(/[ ]/gm, "").length;
      },
      whitespaces() {
        return (this.inputText.match(/\s/gm) || []).length;
      },
      words() {
        return this.inputText.replace(/\s+/gm, " ").trim().split(" ").length;
      },
    },
    template:
      '&lt;div&gt;&lt;textarea v-model="inputText"&gt;&lt;/textarea&gt;&lt;div&gt;Letters: {{letters}}, Spaces: {{whitespaces}}, Words: {{words}}&lt;/div&gt;&lt;/div&gt;',
  });
  
  new Vue({
    el: "#app",
  });
  
           </code>
         </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Geben Sie die Webseite, auf der Sie Ihre Komponente mehrfach testen,
          hier ein:
        </h3>

        <div class="subtask__solution">
          <pre>
           <code>
&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="UTF-8" /&gt;
    &lt;title&gt;Vue app&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id="app"&gt;
      &lt;statistics&gt;&lt;/statistics&gt;
      &lt;statistics&gt;&lt;/statistics&gt;
      &lt;statistics&gt;&lt;/statistics&gt;
    &lt;/div&gt;
    &lt;script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"&gt;&lt;/script&gt;
    &lt;script src="./Vue.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
           </code>
         </pre>
        </div>
        <a
          class="linkButton tryButton"
          href="#"
          @click="
            (e) => {
              e.preventDefault();
              showResult = !showResult;
            }
          "
          >TRY IT OUT
        </a>
      </div>
      <div v-if="showResult" class="modal">
        <div @click="showResult = !showResult" class="closeBtn"></div>
        <div class="modal__content">
          <iframe
            src="https://www2.inf.h-brs.de/~akhemi2s/vue.html"
            frameborder="0"
            width="1100px"
            height="800"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
