<template>
  <div class="task">
    <h1 class="task__title">2.2. CSS Positioning</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schauen Sie sich folgendes
          <a href="https://www.youtube.com/watch?v=PE3POxjDspo" target="_blank">
            Video
          </a>
          an und bauen Sie das dynamische Verhalten exakt nach (nur mit HTML und
          CSS, ohne JavaScript):
        </h3>

        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;!--Body 50% width nur damit ich nicht viel text reinschreibe--&gt;
    &lt;style&gt;
        body {
            width: 50%;
        }
        
        h1 {
            position: sticky;
            top: 0;
            border: 1px solid black;
            opacity: 0.8;
            padding: 20px;
            background-color: white;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Erste Überschrift&lt;/h1&gt;
        &lt;p&gt;
        Text was removed from source code!
        &lt;/p&gt;
    &lt;h1&gt;Zweite Überschrift&lt;/h1&gt;
        &lt;p&gt;
        Text was removed from source code!
        &lt;/p&gt;
    &lt;h1&gt;Dritte Überschrift&lt;/h1&gt;
        &lt;p&gt;
        Text was removed from source code!
        &lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;

            </code>
          </pre>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                modalScroll = !modalScroll;
              }
            "
            >TRY IT OUT
          </a>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schauen Sie sich folgendes
          <a href="https://www.youtube.com/watch?v=HVmnv3k4__E" target="_blank">
            Video
          </a>
          an und bauen Sie das dynamische Verhalten exakt nach (nur mit HTML und
          CSS, ohne JavaScript):
        </h3>

        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;style&gt;
        img {
            display: none;
            width: 30vw;
            height: auto;
        }

        input:checked ~ img {
            display: block;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Übung 2.2&lt;/h1&gt;
    &lt;input type="checkbox" id="cbox"&gt;
    &lt;label for="cBox"&gt;hide and show via checkbox&lt;/label&gt;
    &lt;img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Hochschule_Bonn-Rhein-Sieg_Wolfgang_G%C3%B6ddertz_Induktion.jpg" alt="bild"&gt;
&lt;/body&gt;
&lt;/html&gt;
            </code>
          </pre>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                modalImage = !modalImage;
              }
            "
            >TRY IT OUT
          </a>
        </div>
      </div>
    </div>
    <div v-if="modalScroll" class="modal">
      <div @click="modalScroll = !modalScroll" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/positionierung1.html"
          frameborder="0"
          width="800"
          height="800"
        ></iframe>
      </div>
    </div>
    <div v-if="modalImage" class="modal">
      <div @click="modalImage = !modalImage" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/positionierung2.html"
          frameborder="0"
          width="800"
          height="800"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskTwo",
  data() {
    return {
      modalScroll: false,
      modalImage: false,
    };
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style></style>
