<template>
  <div class="task">
    <h1 class="task__title">2.1. CSS Selektoren und CSS Farben</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Berechnen Sie die Spezifität folgender CSS-Selektoren:
        </h3>
        <div class="subtask__solution">
          <span class="customListItem"
            >div div div:focus .inner: <u>33</u></span
          >
          <br />
          <span class="customListItem">h1 + div.main: <u>12</u></span>
          <br />
          <span class="customListItem"
            >div a:link[href*='h-brs']: <u>202</u></span
          >
          <br />
          <span class="customListItem">nav > a:hover::before: <u>13</u></span>
          <br />
          <span class="customListItem"
            >ul#primary-nav li.active: <u>112</u></span
          >
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Rechnen Sie folgende RGB-Werte in HSL-Werte um:
        </h3>
        <div class="subtask__solution">
          <span class="customListItem">#ffffff: <u>hsl(0,0,100)</u></span>
          <br />
          <span class="customListItem">#000: <u>hsl(0,0,0)</u></span>
          <br />
          <span class="customListItem">#ab0978: <u>hsl(319, 90, 35)</u></span>
          <br />
          <span class="customListItem"
            >rgb(127,255,33): <u>hsl(95, 100, 56.5)</u></span
          >
          <br />
          <span class="customListItem"
            >rgba(255,127,33,0.8): <u>hsla(25,100,26.5,0.8)</u></span
          >
          <br />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
