<template>
  <div class="task">
    <h1 class="task__title">2.3. Wireframe with HTML and CSS</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Gegeben ist folgendes
          <a
            href="https://kaul.inf.h-brs.de/we/assets/img/survey.png"
            target="_blank"
            >HTML-Wireframe</a
          >: <br />
          Mit welchem HTML- und CSS-Code kann man diesen Wireframe exakt
          nachbilden? Schreiben Sie Ihren CSS-Code direkt in die HTML-Datei
        </h3>

        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;style&gt;
	* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

        body {
            background-color: #b2d6d1;
        }

        h1 {
            margin: 50px;
        }

        h1,p {
            text-align: center;
        }

        #container {
            background-color: white;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            padding: 50px;
            text-align: center;
            border-radius: 20px;
        }

        input {
            margin-bottom: 20px;
        }


        select {
            margin-bottom: 20px;
        }

        #rb {
            display: inline-block;
            text-align: left;
        }

        #rbText {
            width: 50%;
            display: inline-block;
            text-align: right;
            transform: translateY(-50px);
            margin-left: -54%;
        }

        #roleContainer {
            margin-left: -25.5%;
        }

        #fccContainer {
            margin-left: -20%;
        }

        #cbContainer {
            display: inline-block;
        }

        #cbText {
            display: inline-block;
            transform: translateY(-50px);
            margin-left: -27%;
            text-align: right;
        }

        #submitBtn {
            padding: 5px 20px;

        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Survey Form&lt;/h1&gt;
    &lt;div id="container"&gt;
        &lt;p&gt;let us know how we can prove freeCodeCamp&lt;/p&gt;&lt;br&gt;
    &lt;form&gt;
        &lt;label for="name"&gt;* Name: &lt;/label&gt;
        &lt;input type="text" id="name"&gt;
        &lt;br&gt;
        &lt;label for="email"&gt;* Email: &lt;/label&gt;
        &lt;input type="email" id="email"&gt;
        &lt;br&gt;
        &lt;label for="age"&gt;&nbsp;&nbsp;&nbsp;* Age: &lt;/label&gt;
        &lt;input type="number"&gt;
        &lt;br&gt;
        &lt;div id="roleContainer"&gt;
            &lt;label for="role"&gt;Which option best describes your role: &lt;/label&gt;
            &lt;select id="role"&gt;
                &lt;option value="student" selected&gt;Student&lt;/option&gt;
                &lt;option value="employee"&gt;Employee&lt;/option&gt;
                &lt;option value="unemployed"&gt;Unemployed&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
        
        &lt;br&gt;
        &lt;div&gt;
            &lt;div id="rbText"&gt;How likely is that you would recommend &lt;br&gt; freeCodeCamp to a friend: &lt;/div&gt;
            
            &lt;div id="rb"&gt;
                &lt;input type="radio" id="def" name="recommend" value="definitely"&gt;
                &lt;label for="def"&gt;Definitely&lt;/label&gt;
                &lt;br&gt;
                &lt;input type="radio" id="maybe" name="recommend" value="maybe"&gt;
                &lt;label for="maybe"&gt;Maybe&lt;/label&gt;
                &lt;br&gt;
                &lt;input type="radio" id="notsure" name="recommend" value="notsure"&gt;
                &lt;label for="notsure"&gt;Not sure&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
       
        &lt;br&gt;
        &lt;div id="fccContainer"&gt;
            &lt;label for="fcc"&gt;What do you like most in FCC: &lt;/label&gt;
            &lt;select id="fcc"&gt;
                &lt;option value="none" selected&gt;Select an option&lt;/option&gt;
                &lt;option value="courses"&gt;Courses&lt;/option&gt;
                &lt;option value="simplicity"&gt;Simplicity&lt;/option&gt;
                &lt;option value="community"&gt;Community&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;div id="cbText"&gt;Things that should be improved in the future &lt;br&gt; (check all that apply): &lt;/div&gt;
            &lt;div id="cbContainer"&gt;
                &lt;input type="checkbox" name="fe" id="fe"&gt;
                &lt;label for="fe"&gt;Front-End projects&lt;/label&gt;
                &lt;br&gt;
                &lt;input type="checkbox" name="be" id="be"&gt;
                &lt;label for="be"&gt;Back-End projects&lt;/label&gt;
                &lt;br&gt;
                &lt;input type="checkbox" name="dv" id="dv"&gt;
                &lt;label for="dv"&gt;Data Visualization&lt;/label&gt;
            &lt;/div&gt; 
        &lt;/div&gt;
        &lt;button type="submit" id="submitBtn"&gt;Submit&lt;/button&gt;
    &lt;/form&gt;
    &lt;/div&gt;
    
&lt;/body&gt;
&lt;/html&gt;
            </code>
          </pre>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResult = !showResult;
              }
            "
            >TRY IT OUT
          </a>
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Was war in der Lösung dieser Aufgabe die größte Schwierigkeit und wie
          haben Sie diese gelöst?
        </h3>
        <div class="subtask__solution">
          <span class="customListItem"
            >Das schwierigste war die Elemente unter einander zu positionieren,
            ich habe es mit margin gelöst.</span
          >
          <br />
        </div>
      </div>
    </div>
    <div v-if="showResult" class="modal">
      <div @click="showResult = !showResult" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/formwireframe.html"
          frameborder="0"
          width="1100px"
          height="800"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskThree",
  data() {
    return {
      showResult: false,
    };
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
