<template>
  <div class="task">
    <h1 class="task__title">
      1.3. HTML-Literatur lesen und Fragen beantworten
    </h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Was ist HTML?
        </h3>
        <div class="subtask__solution">
          <span class="customListItem">
            HTML steht für Hyper Text Markup Language und ist eine
            Standard-Markup Sprache um Webseiten zu erzeugen.
          </span>
          <br />
          <span class="customListItem">
            HTML beschreibt die Struktur einer Webseite und besteht aus einer
            Serie von Elementen, die dem Browser mitteilen, <br />
            wie dieser den Inhalt darzustellen hat.
          </span>
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Wie kann man eine geschachtelte geordnete Liste der Schachtelungstiefe
          3 erzeugen?
        </h3>
        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;ol&gt;
  erste Stufe
  &lt;li&gt;
    &lt;ol&gt;
      zweite Stufe
      &lt;li&gt;
        &lt;ol&gt;
          Dritte Stufe
          &lt;li&gt;&lt;/li&gt;
        &lt;/ol&gt;
      &lt;/li&gt;
    &lt;/ol&gt;
  &lt;/li&gt;
&lt;/ol&gt;

            </code>
          </pre>
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Wie ist eine HTML-Tabelle aufgebaut?
        </h3>
        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;table&gt;
    &lt;tr&gt;
        &lt;th&gt;&lt;/th&gt;
        &lt;th&gt;&lt;/th&gt;
        &lt;th&gt;&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;&lt;/td&gt;
        &lt;td&gt;&lt;/td&gt;
        &lt;td&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;&lt;/td&gt;
        &lt;td&gt;&lt;/td&gt;
        &lt;td&gt;&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
            </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Welche Konventionen sollte man bei Pfaden und Dateinamen beachten?
        </h3>
        <div class="subtask__solution">
          <span class="customListItem"
            >Namen der Dateien sollen kleingeschrieben werden.</span
          >
          <br />
          <span class="customListItem"
            >Name der Hauptseite soll immer index.html (bzw. index.php für PHP)
            sein.</span
          >
          <br />
          <span class="customListItem"
            >Nur Alphanumerische Zeichen sollen verwendet werden.</span
          >
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Wie baut man in HTML ein Menü?
        </h3>
        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;ul&gt;
    &lt;li&gt;&lt;a&gt;link1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a&gt;link2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a&gt;link3&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a&gt;link4&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
            </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Welche Attribute sollte man bei Bildern wie verwenden?
        </h3>
        <div class="subtask__solution">
          <span class="customListItem"> 'src': Quelle der Image </span> <br />
          <span class="customListItem">
            'alt': Alternative wenn die Image nicht angezeigt werden konnte.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskThree",
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
