<template>
  <div class="task">
    <h1 class="task__title">1.2. HTTP</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Sie bekommen im Browser den HTTP Status Code 200. Was bedeutet das?
        </h3>
        <div class="subtask__solution">
          <span class="customListItem"
            >Der Server hat die Anfrage ('Request') erfolgreich bearbeitet</span
          >
          <br />
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Sie bekommen im Browser den HTTP Status Code 301. Was hat das zu
          bedeuten?
        </h3>
        <div class="subtask__solution">
          <span class="customListItem">
            Der server ist nicht mehr durch diese Adresse erreichbar. Die neue
            sollte im Feld 'Location' in der Response erscheinen
          </span>
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Sie bekommen im Browser den HTTP Status Code 400. Was hat das zu
          bedeuten? Was können Sie dagegen tun?
        </h3>
        <div class="subtask__solution">
          <p>
            &#10147; Der Server kann die Anfrage nicht bearbeiten. Man muss die
            Eingaben korrigieren
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskTwo",
  mixins: [ToggleSolutionMixin],
};
</script>

<style></style>
