<template>
  <div class="task">
    <h1 class="task__title">
      1.1. Fachliche Argumentation über Erfolgsprinzipien des WWW
    </h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Mit welchen fachlichen Argumenten wurde das WWW-Proposal von TBL
          abgelehnt?
        </h3>
        <div class="subtask__solution">
          <span class="customListItem">Fehlende Integration</span> <br />
          <span class="customListItem">Hat noch einige Probleme</span> <br />
          <span class="customListItem">Broken links</span> <br />
          <span class="customListItem">Texte ohne definierte Semantik</span>
          <br />
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Was sind die fachlichen Argumente, warum das WWW dennoch ein Erfolg
          wurde?
        </h3>
        <div class="subtask__solution">
          <span class="customListItem">ohne zentrale Kontrolle</span><br />
          <span class="customListItem"
            >Weltweit eindeutige Identifikation URI
          </span>
          <br />

          <span class="customListItem">orthogonale Technologien</span>
          <br />
          <span class="customListItem">weiterentwickelt werden</span> <br />
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Was wäre der Preis für die garantierte Verhinderung von “broken
          links”?
        </h3>
        <div class="subtask__solution">
          <span class="customListItem"
            >Mehr Rechnerressourcen müssen zur Verfügung gestellt werden</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";

export default {
  name: "TaskOne",
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
