<template>
  <div class="task">
    <h1 class="task__title">1.4. HTML Wireframe</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Mit welchem HTML-Code (ohne CSS, nur mit HTML-Tags) kann man diesen
          <a
            href="https://kaul.inf.h-brs.de/we/assets/img/wireframe01.jpg"
            target="_blank"
            id="imglink"
          >
            Wireframe
          </a>
          exakt nachbilden?
        </h3>

        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Übung1.2: Inventors of the Web&lt;/h1&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;strong&gt;&lt;mark&gt;Tim Berners-Lee:&lt;/mark&gt;&lt;/strong&gt; WWW,HTTPS,HTML,URI&lt;/li&gt;
        &lt;li&gt;&lt;strong&gt;Hakom Lie and Bert Bos:&lt;/strong&gt; CSS&lt;/li&gt;
        &lt;li&gt;&lt;strong&gt;Brendan Eich:&lt;/strong&gt; Javascript&lt;/li&gt;
    &lt;/ul&gt;
    &lt;hr&gt;
    &lt;br&gt;
    &lt;br&gt;
    &lt;br&gt;
    &lt;h1&gt;Inventors of the WWW&lt;/h1&gt;
    &lt;table border="10"&gt;
        &lt;tr&gt;
            &lt;th id="th" colspan="4"&gt;Inventors of the WWW&lt;/th&gt;
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
            &lt;td&gt;&lt;strong&gt;WWW&lt;/strong&gt;&lt;/td&gt;
            &lt;td&gt;&lt;strong&gt;HTML&lt;/strong&gt;&lt;/td&gt;
            &lt;td&gt;&lt;strong&gt;CSS&lt;/strong&gt;&lt;/td&gt;
            &lt;td&gt;&lt;strong&gt;Javascript&lt;/strong&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
            &lt;td&gt;
                &lt;mark&gt;Tim Berners-Lee&lt;/mark&gt;
            &lt;/td&gt;
            &lt;td&gt;
                &lt;mark&gt;Tim Berners-Lee&lt;/mark&gt;
            &lt;/td&gt;
            &lt;td&gt;Hakom Lie and Bert Bos&lt;/td&gt;
            &lt;td&gt;Brendan Eich&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
    &lt;hr&gt;
    &lt;table&gt;
        &lt;tr&gt;
            &lt;th id="th2" colspan="3"&gt;Inventors of the WWW&lt;/th&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td colspan="3"&gt;&lt;hr&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
            &lt;td&gt;&lt;strong&gt;HTML&lt;/strong&gt;&lt;/td&gt;
            &lt;td&gt;&lt;strong&gt;|&lt;/strong&gt;&lt;/td&gt;
            &lt;td&gt;&lt;strong&gt;Javascript&lt;/strong&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
            &lt;td&gt;&lt;img src="https://kaul.inf.h-brs.de/we/assets/img/tbl.jpg" alt="ss"/&gt;&lt;/td&gt;
            &lt;td&gt;&lt;strong&gt;|&lt;/strong&gt;&lt;/td&gt;
            &lt;td&gt;&lt;img src="https://kaul.inf.h-brs.de/we/assets/img/eich.jpg" alt="ss" /&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr align="center"&gt;
            &lt;td&gt;&lt;mark&gt;Tim Berners-Lee&lt;/mark&gt;&lt;/td&gt;
            &lt;td&gt;&lt;strong&gt;|&lt;/strong&gt;&lt;/td&gt;
            &lt;td&gt;Brendan Eich&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
    &lt;br&gt;
    &lt;hr&gt;
&lt;/body&gt;
&lt;/html&gt;

            </code>
          </pre>
          <a
            id="tryButton"
            class="linkButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResult = !showResult;
              }
            "
            >TRY IT OUT
          </a>
        </div>
      </div>
    </div>
    <div v-if="showResult" class="modal">
      <div @click="showResult = !showResult" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/htmlwireframe.html"
          frameborder="0"
          width="600"
          height="800"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskFour",
  data() {
    return {
      showResult: false,
    };
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped>
#tryButton {
  float: right;
}
</style>
