<template>
  <div class="task">
    <h1 class="task__title">9.2. Statistik-Balkendiagramm in SVG</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Implementieren Sie ein eigenes Balkendiagramm mit HTML, Inline SVG,
          CSS und JavaScript.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;style&gt;
     .section:hover {
    transform: scale(2);
  }
.section {
    transition: all 1s;
    transform-origin: 500 500;
}
&lt;/style&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;SVG Use The Platform&lt;/p&gt;
    &lt;svg width="500" height="500" class="section"&gt;
        &lt;rect x="50" y="100" width="400" height="400" style="fill:rgba(203,121,141,255)" /&gt;
        &lt;text x=100 y="180" fill="white" font-size="70"&gt;Use&lt;/text&gt;
        &lt;line x1="100" y1="200" x2="400" y2="200" style="stroke:rgb(255, 255, 255);stroke-width:4"/&gt;
        &lt;text x=100 y="280" fill="white" font-size="70"&gt;The&lt;/text&gt;
        &lt;line x1="100" y1="300" x2="400" y2="300" style="stroke:rgb(255, 255, 255);stroke-width:4"/&gt;
        &lt;text x=100 y="380" fill="white" font-size="70"&gt;Platfrom&lt;/text&gt;
        &lt;line x1="100" y1="400" x2="400" y2="400" style="stroke:rgb(255, 255, 255);stroke-width:4"/&gt;
    &lt;/svg&gt;
&lt;/body&gt;
&lt;/html&gt;

              </code>
          </pre>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResult = !showResult;
              }
            "
            >TRY IT OUT
          </a>
        </div>
      </div>
      <div v-if="showResult" class="modal">
        <div @click="showResult = !showResult" class="closeBtn"></div>
        <div class="modal__content">
          <iframe
            src="https://www2.inf.h-brs.de/~akhemi2s/svg.html"
            frameborder="0"
            width="1100px"
            height="800"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
