<template>
  <div class="task">
    <h1 class="task__title">9.2. Statistik-Balkendiagramm in SVG</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Implementieren Sie ein eigenes Balkendiagramm mit HTML, Inline SVG,
          CSS und JavaScript.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code> 
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;link rel="stylesheet" href="uebung9b.css"&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;script src="uebung9b.js"&gt;&lt;/script&gt;
    &lt;script src="cases.json"&gt;&lt;/script&gt;
    &lt;script src="https://code.highcharts.com/highcharts.src.js"&gt;&lt;/script&gt;
    &lt;script src="https://code.highcharts.com/modules/exporting.js"&gt;&lt;/script&gt;
    &lt;script src="https://code.highcharts.com/modules/export-data.js"&gt;&lt;/script&gt;
    &lt;script src="https://code.highcharts.com/modules/accessibility.js"&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body&gt;

    &lt;figure class="highcharts-figure"&gt;
        &lt;div id="container"&gt;&lt;/div&gt;
        &lt;p class="highcharts-description"&gt;
            Das Diagramm stellt die aktuellen Fallzahlen der Coronapandemie Graphisch dar.
            Hierbei wird Deutschland in seine Bundesländer unterteilt.
        &lt;/p&gt;
    &lt;/figure&gt;
&lt;/body&gt;

&lt;/html&gt;

let text = '{"cases":[' +
  '{"state":"Baden-Württem­berg", "total":880657, "diffprev":4598,"casesPast7":59201,"day7Incidence":533.2,"deaths":11966},' +
  '{"state":"Bayern", "total":1191561, "diffprev":6168,"casesPast7":69172,"day7Incidence":526.4,"deaths":17954},' +
  '{"state":"Berlin", "total":285058, "diffprev":308,"casesPast7":12508,"day7Incidence":341.4,"deaths":3855},' +
  '{"state":"Branden­burg", "total":192271, "diffprev":848,"casesPast7":16280,"day7Incidence":643.2,"deaths":4206},' +
  '{"state":"Bremen", "total":40950, "diffprev":399,"casesPast7":1460,"day7Incidence":214.7,"deaths":555},' +
  '{"state":"Hamburg", "total":118126, "diffprev":571,"casesPast7":4159,"day7Incidence":224.5,"deaths":1903},' +
  '{"state":"Hessen", "total":428472, "diffprev":1008,"casesPast7":16940,"day7Incidence":269.2,"deaths":8211},' +
  '{"state":"Meck­lenburg-Vor­pommern", "total":77675, "diffprev":302,"casesPast7":7091,"day7Incidence":440.2,"deaths":1351},' +
  '{"state":"Nieder­sachsen", "total":390966, "diffprev":1053,"casesPast7":16371,"day7Incidence":204.6,"deaths":6432},' +
  '{"state":"Nord­rhein-West­falen", "total":1221048, "diffprev":3488,"casesPast7":52034,"day7Incidence":290.3,"deaths":19202},' +
  '{"state":"Rhein­land-Pfalz", "total":244740, "diffprev":815,"casesPast7":13116,"day7Incidence":320.0,"deaths":4324},' +
  '{"state":"Saarland", "total":64688, "diffprev":239,"casesPast7":4001,"day7Incidence":406.6,"deaths":1126},' +
  '{"state":"Sachsen", "total":880657, "diffprev":4820,"casesPast7":50077,"day7Incidence":1234.4,"deaths":11230},' +
  '{"state":"Sachsen-Anhalt", "total":174307, "diffprev":1432,"casesPast7":18775,"day7Incidence":861.0,"deaths":3845},' +
  '{"state":"Schles­wig-Holstein", "total":100103, "diffprev":246,"casesPast7":4185,"day7Incidence":143.8,"deaths":1807},' +
  '{"state":"Thüringen", "total":230684, "diffprev":1541,"casesPast7":22062,"day7Incidence":1040.5,"deaths":5154},' +
  '{"state":"Gesamt", "total":6185961, "diffprev":27836,"casesPast7":367432,"day7Incidence":441.9,"deaths":103121}]}';
const data = JSON.parse(text)

console.log(data.cases[1].diffprev)
let state = [];
let total = [];
let diff = [];
let past7 = [];
let dayinc7 = [];
let deaths = [];
for (let i = 0; i &lt; data.cases.length; i++) {
  state.push(data.cases[i].state);
  total.push(data.cases[i].total);
  diff.push(data.cases[i].diffprev);
  past7.push(data.cases[i].casesPast7);
  dayinc7.push(data.cases[i].day7Incidence);
  deaths.push(data.cases[i].deaths);
}

console.log(state)
console.log(total)


document.addEventListener("DOMContentLoaded", function () {
  Highcharts.chart('container', {
    chart: {
      type: 'bar'
    },
    title: {
      text: 'COVID-19: Fallzahlen in Deutschland'
    },
    subtitle: {
      text: 'Source: &lt;a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Fallzahlen.html"&gt;RobertKochIstitut.org&lt;/a&gt;'
    },
    xAxis: {
      categories: state,
      title: {
        text: null
      },
      height: 1000
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Population',
        align: 'high'
      },
      labels: {
        overflow: '5'
      }
    },
    tooltip: {
      valueSuffix: ''
    },
    plotOptions: {
      bar: {
        dataLabels: {
          enabled: true
        }
      }
    },
    legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'top',
      x: -40,
      y: 80,
      floating: true,
      borderWidth: 1,
      backgroundColor:
        Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
      shadow: true
    },
    credits: {
      enabled: false
    },
    series: [{
      name: 'Anzahl',
      data: total
    }, {
      name: 'Differenz zum Vortag',
      data: diff
    }, {
      name: 'Fälle in den letzten 7 Tagen',
      data: past7
    }, {
      name: '7-Tage-Inzidenz',
      data: dayinc7
    }, {
      name: 'Todesfälle',
      data: deaths
    }]
  });
})


.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 8000px;
  margin: 1em auto;
}

#container {
  min-height: 1150px;
  max-height: 4000px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskTwo",
  data() {
    return {};
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
