<template>
  <div class="task">
    <h1 class="task__title">
      4.1. Schreiben Sie folgende Funktionen in JavaScript
    </h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Funktion identity(), <br />
          die ein Argument als Parameter entgegen nimmt und dieses als Ergebnis
          zurück gibt.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function identity(x) {
    return x;
}
              </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Funktion identity_function(), <br />
          die ein Argument als Parameter entgegen nimmt und eine Funktion zurück
          gibt, die dieses Argument zurück gibt.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function identity_function(x) {
    return (
        function() {
            return x;
        }
    )
}
              </code>
          </pre>
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie zwei binäre Funktionen add und mul, <br />
          die Summe und Produkt berechnen.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function add(x,y) {
    return x+y;
}

function mul(x,y) {
    return x*y;
}
              </code>
          </pre>
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Addier-Funktion addf(), <br />
          so dass addf(x)(y) genau x + y zurück gibt. (Es haben also zwei
          Funktionsaufrufe zu erfolgen. <br />
          addf(x) liefert eine Funktion, die auf y angewandt wird.)
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function addf(x){
    return (
        function(y) {
            return x+y;
        }
    )
}
              </code>
          </pre>
        </div>
      </div>

      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Funktion identity(), <br />
          die ein Argument als Parameter entgegen nimmt und dieses als Ergebnis
          zurück gibt.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function applyf(binaryF) {
    return (
        function(x) {
            return (
                function(y) {
                    return binaryF(x,y);
                }
            )
        }
    )
}
              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
      showResultTablet: false,
      showResultMobile: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
