<template>
  <div class="task">
    <h1 class="task__title">
      4.2. Schreiben Sie die Prototypen Person und Auto in JavaScript, <br />
      so dass jede Person weiß, welche Autos sie besitzt.
    </h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Geben Sie hier Ihren JavaScript-Code inkl. Tests ein.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
function Person(name, autos) {
    this.name = name;
    this.autos = autos;
}

function Auto(kennzeichen) {
    this.kennzeichen = kennzeichen;
}

function conflict(listPersons, auto) {
    let anzahlBesitzer = 0;
    listPersons.forEach((p)=>{
       if (p.autos.includes(auto.kennzeichen)) {
           anzahlBesitzer++;
       }
    })

    if(anzahlBesitzer > 1) return true;
    return false;
}

let persons = [new Person("X", ["f", "b", "c", "d"]), new Person("Y", ["f", "x", "y"])]
let auto = new Auto("a");

conflict(persons, auto);
              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
      showResultTablet: false,
      showResultMobile: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
