<template>
  <div class="task">
    <h1 class="task__title">5.2. Rednerliste mit Zeitmessung</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Implementieren Sie die interaktive Anwendung "Rednerliste mit
          Zeitmessung" <br />
          selbstständig in JavaScript durch Nutzung der DOM API und der
          Timer-Funktionen.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Rednerliste&lt;/h1&gt;
    &lt;label for="rednerName"&gt;Neuer Redner:&lt;/label&gt;
    &lt;input type="text" id="rednerName" &gt;
    &lt;button type="button" id="addRedner"&gt;Hinzufügen&lt;/button&gt;
    &lt;ul id="rednerListe"&gt;

    &lt;/ul&gt;

    &lt;script src="script.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
              </code>
          </pre>
        </div>
      </div>
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Implementieren Sie die interaktive Anwendung "Rednerliste mit
          Zeitmessung" <br />
          selbstständig in JavaScript durch Nutzung der DOM API und der
          Timer-Funktionen.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>const button = document.getElementById("addRedner");
const rednerName = document.getElementById("rednerName");
const liste = document.getElementById("rednerListe");


button.addEventListener("click", ()=> {
    addRedner(rednerName.value);
    rednerName.value = '';
})

function addRedner(rednername) {

    let seconds = 0;
    let minutes = 0;
    let hours = 0;

    liste.querySelectorAll('li').forEach(li => {
        li.setAttribute('data-running', '0')
        li.querySelectorAll('button').forEach((btn) => btn.innerHTML = 'Start!')
    });

    const listItem = document.createElement('li');
    listItem.setAttribute('data-running', '1');

    const btn = document.createElement('button');
    btn.innerHTML = 'Stopp!';

    btn.addEventListener('click', ()=> {
        if (listItem.getAttribute('data-running') == '0') {
            liste.querySelectorAll('li').forEach(li => li.setAttribute('data-running', '0'));
            listItem.setAttribute('data-running', '1');
            liste.querySelectorAll('button').forEach((btn) => btn.innerHTML = 'Start!');
            btn.innerHTML = 'Stopp!';
        } else {
            listItem.setAttribute('data-running', '0');
            btn.innerHTML = 'Start!';
        } 
    })


    
    liste.appendChild(listItem);

    let content = rednername + " 0" + hours + ":0" + minutes + ":0" + seconds + "  ";

    listItem.innerHTML = content;
    listItem.appendChild(btn);



    const timerInterval = setInterval(()=> {
        
        if (listItem.getAttribute('data-running') == '1') {

            seconds = parseInt(seconds) + 1;
            minutes = parseInt(minutes);
            hours = parseInt(hours);
    
            if (seconds == 60) {
                seconds = 0;
                minutes = parseInt(minutes) + 1;
            }
        
            if (minutes == 60) {
                minutes = 0;
                hours = parseInt(hours) + 1;
            }

            if (seconds &lt; 10 || seconds == 0) {
                seconds = '0' + seconds;
            }

            if (minutes &lt; 10 || minutes == 0) {
                minutes = '0' + minutes;
            }

            if (hours &lt; 10 || hours == 0) {
                hours = '0' + hours;
            }
        
            content = rednername + " " + hours + ":" + minutes + ":" + seconds + "   ";

            listItem.innerHTML = content;
            listItem.appendChild(btn);
        }

    
    }, 1000)
}
              </code>
          </pre>
        </div>
        <a
          class="linkButton tryButton"
          href="#"
          @click="
            (e) => {
              e.preventDefault();
              showResult = !showResult;
            }
          "
          >TRY IT OUT
        </a>
      </div>
    </div>
    <div v-if="showResult" class="modal">
      <div @click="showResult = !showResult" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/rednerlist.html"
          frameborder="0"
          width="1100px"
          height="800"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
      showResultTablet: false,
      showResultMobile: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
