<template>
  <div class="task">
    <h1 class="task__title">5.1. Performanzmessungen von DOM-Operationen</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Implementieren Sie Performanzmessungen zum Vergleich von innerHTML,
          <br />
          innerText, textContent und outerHTML selbstständig in JavaScript durch
          Nutzung der DOM API. <br />
          Geben Sie die Messergebnisse als Tabelle aus.<br />
          Verwenden Sie die eingebauten Zeitmess-Funktionen performance.now (),
          <br />siehe auch When-milliseconds-are-not-enough-performance-now.
          Suchen Sie eine möglichst kurze und elegante Lösung.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id="idTest"&gt;
    &lt;/div&gt;
    &lt;table id="tableContent"&gt;
        
    &lt;/table&gt;
    &lt;script&gt;
let testDiv = document.getElementById('idTest'); 
let table = document.getElementById('tableContent')

const t0 = performance.now();
testDiv.innerHTML = "";
const t1 = performance.now();
table.appendChild(createRow("innerHTML", t1 - t0))

const t2 = performance.now();
testDiv.innerText = "";
const t3 = performance.now();
table.appendChild(createRow("innerText", t2 - t3))

const t4 = performance.now();
testDiv.textContent = "";
const t5 = performance.now();
table.appendChild(createRow("textContent", t4 - t5))

const t6 = performance.now();
testDiv.outerHTML = "";
const t7 = performance.now();
table.appendChild(createRow("outerHTML", t6 - t7))

function createRow(s,t){
    let row  = document.createElement('tr');
    let data  = document.createElement('td');
    let header  = document.createElement('th');
    data.innerHTML = t;
    header.innerHTML = s;
    row.appendChild(header);
    row.appendChild(data);
    return row;
}
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
              </code>
          </pre>
        </div>
        <a
          class="linkButton tryButton"
          href="#"
          @click="
            (e) => {
              e.preventDefault();
              showResult = !showResult;
            }
          "
          >TRY IT OUT
        </a>
      </div>
    </div>
    <div v-if="showResult" class="modal">
      <div @click="showResult = !showResult" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/performance.html"
          frameborder="0"
          width="1100px"
          height="800"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
