<template>
  <div class="about">
    <div class="info">
      <img src="../assets/photo.jpg" />
      <span class="text"> <i>Firstname: Ameur</i> </span>
      <span class="text"><i>Lastname: Khemissi</i></span>
      <span class="text"> <i>Birthday: 29/03/1995</i></span>
      <span class="text"><i>Study Course:Bachelor Computer Science</i></span>
      <span class="text"><i>Email: ameur.khemissi@smail.inf.h-brs.de</i></span>
    </div>
  </div>
</template>

<script>
export default {
  name: "About",
};
</script>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;

  gap: 20px;
}

.info img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.info .text {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: "Source Code Pro", monospace;
  width: 100rem;
  overflow: hidden;
  white-space: nowrap;
  animation: type 2s ease-in-out;
}

@keyframes type {
  from {
    width: 0;
  }
}
</style>
