<template>
  <div class="home">
    <div class="icons">
      <img id="html-icon" src="../assets/html5-icon.svg" alt="" />
      <img
        id="css-icon"
        src="../assets/css3-icon.svg"
        width="100"
        height="100"
        alt=""
      />
      <img id="js-icon" src="../assets/js-icon.svg" alt="" />
      <img id="vuejs-icon" src="../assets/vuejs-icon.svg" alt="" />
      <img id="php-icon" src="../assets/php-icon.svg" alt="" />
    </div>
    <div class="text">
      <span id="welcome">WELCOME</span>
      <span id="toHomepage">TO MY HOMEPAGE</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
};
</script>

<style scoped>
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  overflow: hidden;
}
img {
  width: 10rem;
  height: 10rem;
}
.icons,
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 5rem;
}

.text {
  flex-direction: column;
  gap: 0;
}

.text span {
  font-family: var(--font-family-links);
  font-size: 7rem;
  letter-spacing: 1rem;
}

#welcome {
  transform: translateX(-150rem);
  animation: leftToRight;
  animation-duration: 0.4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#toHomepage {
  transform: translateX(150rem);
  animation: rightToLeft;
  animation-duration: 0.4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  text-align: center;
}

#html-icon {
  transform: translateY(-70rem);
  animation-name: topToBottom;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
#css-icon {
  transform: translateY(70rem);
  animation-name: bottomToTop;
  animation-duration: 0.4s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
#js-icon {
  transform: translateY(-70rem);
  animation-name: topToBottom;
  animation-duration: 0.4s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
#vuejs-icon {
  transform: translateY(70rem);
  animation-name: bottomToTop;
  animation-duration: 0.4s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
#php-icon {
  transform: translateY(-70rem);
  animation-name: topToBottom;
  animation-duration: 0.4s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes topToBottom {
  from {
    transform: translateY(-70rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bottomToTop {
  from {
    transform: translateY(700px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-1300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(1300px);
  }
  to {
    transform: translateX(0);
  }
}
</style>
