<template>
  <div class="links">
    <h1>Useful links to learn Web Development</h1>
    <i>
      <a href="https://www.w3schools.com/">W3schools</a>
      <br />
      <a href="https://stackoverflow.com/">Stackoverflow</a> <br />
      <a href="https://www.youtube.com/kepowob">Kevin Powell Youtube Channel</a>
      <br />
      <a href="https://www.youtube.com/c/WebDevSimplified "
        >Web Dev Simplified Youtube Channel</a
      ><br />
      <a href=" https://www.youtube.com/c/DevEd">Dev Ed Youtube Channel</a>
      <a href="https://v3.vuejs.org/">Vue 3 Official Documentation</a>
      <br />
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
        >JavaScript Official Documentation</a
      >
      <br />
      <a href="https://www.typescriptlang.org/docs/handbook/intro.html"
        >TypeScript Official Documentation</a
      >
    </i>
  </div>
</template>

<script>
export default {
  name: "Links",
};
</script>
<style scoped>
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
  flex-direction: column;
}

.links h1 {
  margin-bottom: 50px;
}

.links a {
  font-size: 2rem;
  font-family: "Source Code Pro", monospace;
}
</style>
