<template>
  <div class="solutions">
    <SolutionNavigator :sections="sections" />
  </div>
</template>

<script>
import SolutionNavigator from "../components/SolutionNavigator.vue";
export default {
  name: "Solutions",
  data() {
    return {
      sections: [
        "HTML",
        "CSS PART 1",
        "CSS PART 2",
        "JS BASICS",
        "JS DOM",
        "ECMASCRIPT",
        "JS FUNCTIONAL",
        "JS ASYNC",
        "SVG",
        "TYPESCRIPT",
        "VUE JS",
      ],
    };
  },
  components: {
    SolutionNavigator,
  },
};
</script>

<style></style>
