<template>
  <div class="task">
    <h1 class="task__title">6.2. Topologische Iterierbarkeit</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine ES6-Klasse Vorrang für Vorrangrelationen.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
class Vorrang {
  constructor(rules) {
    this.dependencies = rules;
    this.solution = this.topSort(rules);
  }

  [Symbol.iterator]() {
    let that = this;
    let nextIndex = 0;
    return {
      next: () => {
        return nextIndex &lt; that.solution.length
          ? {
              value: that.solution[nextIndex++],
              done: false,
            }
          : {
              done: true,
            };
      },
    };
  }

  topSort(deps) {
    const results = [];

    deps.forEach((dependency) => {
      let firstItem = dependency[0];
      let secondItem = dependency[1];

      if (results.includes(firstItem)) {
        if (results.includes(secondItem)) {
          results.splice(results.indexOf(secondItem), 1); // remove first occurence of secondItem
        }
        results.splice(results.indexOf(firstItem) + 1, 0, secondItem); // add the second item in the right position
      } else if (results.includes(secondItem)) {
        if (results.includes(firstItem)) {
          results.splice(results.indexOf(firstItem), 1);
        }
        results.splice(results.indexOf(secondItem), 0, firstItem);
      } else {
        results.push(firstItem, secondItem);
      }
    });

    return results;
  }
}

const studentenLeben = new Vorrang([
  ["schlafen", "studieren"],
  ["essen", "studieren"],
  ["studieren", "prüfen"],
]);

const list = [];
for (const next of studentenLeben) {
  list.push(next);
}

console.assert(list.indexOf("schlafen") &lt; list.indexOf("studieren"));
console.assert(list.indexOf("essen") &lt; list.indexOf("studieren"));
console.assert(list.indexOf("studieren") &lt; list.indexOf("prüfen"));

    return [...new Set(results)];
  }
}
              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
      showResultTablet: false,
      showResultMobile: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
