<template>
  <div class="task">
    <h1 class="task__title">6.1. Klammerpaare</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine Webseite, in die man eine Zeichenkette mit
          beliebigen Buchstaben, <br />
          Zahlen und Sonderzeichen eingeben kann, <br />
          die beliebig geschachtelte Klammern [...], (...) und {...} enthält
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Klammerpaare&lt;/title&gt;
    &lt;style&gt;
      #textarea {
        border: 2px solid green;
        outline: none;
      }
      #textarea.wrong {
        border: 2px solid red;
      }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Enter your text here&lt;/h1&gt;

    &lt;textarea id="textarea" oninput="validate()" rows="4" cols="50"&gt;&lt;/textarea&gt;
    &lt;script&gt;
      brackets = [
        ["(", ")"],
        ["{", "}"],
        ["[", "]"],
      ];

      const textarea = document.getElementById("textarea");

      const isValid = (input = "") =&gt; {
        string = "";

        for (const i of input) {
          for (const paar of brackets) {
            if (i === paar[0] || i === paar[1]) string += i;
          }
        }

        if (string.length % 2 !== 0) {
          return false;
        }

        for (let i = 0; i &lt;= string.length / 2; i++) {
          for (const paar of brackets) {
            if (string.charAt(i) === paar[0]) {
              if (reverseString(string).charAt(i) !== paar[1]) {
                return false;
              }
              break;
            }
          }
        }

        return true;
      };

      const validate = () =&gt; {
        if (!isValid(textarea.value)) {
          textarea.classList.add("wrong");
        } else {
          textarea.classList.remove("wrong");
        }
      };

      function reverseString(str) {
        var splitString = str.split("");
        var reverseArray = splitString.reverse();
        var joinArray = reverseArray.join("");
        return joinArray;
      }
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;

              </code>
          </pre>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResult1 = !showResult1;
              }
            "
            >TRY IT OUT
          </a>
        </div>
        <div class="subtask__container">
          <h3 class="subtask__title hidden" @click="showHideSolution">
            Bonus: Verallgemeinern Sie Ihren Algorithmus, so dass man
            Klammerpaare als Parameter frei definieren kann.
          </h3>

          <div class="subtask__solution">
            <pre>
              <code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Klammerpaare&lt;/title&gt;
    &lt;style&gt;
      body {
        display: flex;
        flex-direction: column;
        width: 20%;
        gap: 30px;
      }
      #textarea {
        border: 2px solid green;
        outline: none;
      }
      #textarea.wrong {
        border: 2px solid red;
      }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;input
      type="text"
      id="chars"
      placeholder="char closingChar example: (){}[]??"
      onchange="addToList()"
    /&gt;
    &lt;textarea id="textarea" oninput="validate()" rows="4" cols="50"&gt;&lt;/textarea&gt;
    &lt;script&gt;
      const chars = document.getElementById("chars");
      const brackets = [];
      let combo = [];

      const addToList = () =&gt; {
        for (let i = 0; i &lt; chars.value.length; i++) {
          combo.push(chars.value.charAt(i));
          if (i % 2 !== 0) {
            brackets.push(combo);
            combo = [];
          }
        }
      };

      const textarea = document.getElementById("textarea");

      const isValid = (input = "") =&gt; {
        string = "";

        for (const i of input) {
          for (const paar of brackets) {
            if (i === paar[0] || i === paar[1]) string += i;
          }
        }

        if (string.length % 2 !== 0) {
          return false;
        }

        for (let i = 0; i &lt;= string.length / 2; i++) {
          for (const paar of brackets) {
            if (string.charAt(i) === paar[0]) {
              if (reverseString(string).charAt(i) !== paar[1]) {
                return false;
              }
              break;
            }
          }
        }

        return true;
      };

      const validate = () =&gt; {
        if (!isValid(textarea.value)) {
          textarea.classList.add("wrong");
        } else {
          textarea.classList.remove("wrong");
        }
      };

      function reverseString(str) {
        var splitString = str.split("");
        var reverseArray = splitString.reverse();
        var joinArray = reverseArray.join("");
        return joinArray;
      }
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;

              </code>
          </pre>
            <a
              class="linkButton tryButton"
              href="#"
              @click="
                (e) => {
                  e.preventDefault();
                  showResult2 = !showResult2;
                }
              "
              >TRY IT OUT
            </a>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showResult1" class="modal">
      <div @click="showResult1 = !showResult1" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/klammer1.html"
          frameborder="0"
          width="1100px"
          height="800"
        ></iframe>
      </div>
    </div>
    <div v-if="showResult2" class="modal">
      <div @click="showResult2 = !showResult2" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/klammer2.html"
          frameborder="0"
          width="1100px"
          height="800"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult1: false,
      showResult2: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
