<template>
  <div class="task">
    <h1 class="task__title">6.4. Proxy</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Erweitern Sie Ihre Vorrang-Klasse um Logging, indem Sie ein Proxy
          einfügen.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
class Vorrang {
  constructor(rules) {
    this.dependencies = rules;
    this.solution = this.topSort(rules);
  }

  *[Symbol.iterator]() {
    let that = this;
    let nextIndex = 0;
    while (nextIndex &lt; that.solution.length) {
      yield this.next(nextIndex);
      nextIndex++;
    }
  }

  next(index) {
    return this.solution[index];
  }

  topSort(deps) {
    const results = [];

    deps.forEach((dependency) => {
      let firstItem = dependency[0];
      let secondItem = dependency[1];

      if (results.includes(firstItem)) {
        if (results.includes(secondItem)) {
          results.splice(results.indexOf(secondItem), 1); // remove first occurence of secondItem
        }
        results.splice(results.indexOf(firstItem) + 1, 0, secondItem); // add the second item in the right position
      } else if (results.includes(secondItem)) {
        if (results.includes(firstItem)) {
          results.splice(results.indexOf(firstItem), 1);
        }
        results.splice(results.indexOf(secondItem), 0, firstItem);
      } else {
        results.push(firstItem, secondItem);
      }
    });

    return results;
  }
}

const handler = {
  get(target, prop) {
    if (prop === "next") {
      let item = target[prop];
      console.log("calling next");
      return item;
    }
    return target[prop] || target.getItem(prop);
  },
};

const studentenLeben = new Vorrang([
  ["schlafen", "studieren"],
  ["essen", "studieren"],
  ["studieren", "prüfen"],
]);

const proxy = new Proxy(studentenLeben, handler);

const list = [];

for (const next of proxy) {
  list.push(next);
}
console.log(list);
  
              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
      showResultTablet: false,
      showResultMobile: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
