<template>
  <div class="task">
    <h1 class="task__title">6.5. DeepCopy</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Schreiben Sie eine rekursive Funktion deepCopy( struct ) als
          ES6-Ausdruck, <br />
          so dass beliebig geschachtelte Arrays und Objekte struct tiefenkopiert
          werden können.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
var deepCopy = (struct) =>
  typeof struct === "object"
    ? Array.isArray(struct)
      ? struct.map((entry) => deepCopy(entry))
      : Object.fromEntries(
          Object.entries(struct).map((entry) => [entry[0], deepCopy(entry[1])])
        )
    : struct;
              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
      showResultTablet: false,
      showResultMobile: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
