<template>
  <div class="task">
    <h1 class="task__title">2.3. Wireframe with HTML and CSS</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Implementieren Sie dann das gleiche responsive Webdesign wie in
          Aufgabe 3.1 allerdings mit Grid und der Mobile-First-Strategie! <br />
          Vermeiden Sie diesmal außerdem das Erscheinen von Scrollbars.
        </h3>

        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;style&gt;
        
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: "r" "g" "b" "p";
    padding: 10px;
}

.red {
    background-color: red;
    height: 100px;
    grid-area: r;
}

.green {
    background-color: green;
    height: 100px;
    grid-area: g;
}

.blue {
    height: 1000px;
    background-color: blue;
    grid-area: b;
}

.purple {
    height: 100px;
    background-color: purple;
    grid-area: p;
}


@media screen and (min-width: 600px) {
    body {
        grid-template: "r r r r" "g b b b" "p p p p";
        gap: 20px;
    }

    .green, .blue {
        height: 600px;
    }

    .purple {
        height: 100px;
    }
}

@media screen and (min-width: 900px) {
    body {
        grid-template: "r r r r" "g b b p";
        gap: 20px;
    }

    .purple {
        height: 600px;
    }
}
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="red"&gt;&lt;/div&gt;
    &lt;div class="green"&gt;&lt;/div&gt;
    &lt;div class="blue"&gt;&lt;/div&gt;
    &lt;div class="purple"&gt;&lt;/div&gt; 
    
    
&lt;/body&gt;
&lt;/html&gt;
            </code>
          </pre>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResult = !showResult;
              }
            "
            >Desktop Version
          </a>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResultTablet = !showResultTablet;
              }
            "
            >Tablet Version
          </a>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResultMobile = !showResultMobile;
              }
            "
            >Mobile Version
          </a>
        </div>
      </div>
    </div>
    <div v-if="showResult" class="modal">
      <div @click="showResult = !showResult" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/cssgrid.html"
          frameborder="0"
          width="1100px"
          height="800"
        ></iframe>
      </div>
    </div>
    <div v-if="showResultTablet" class="modal">
      <div @click="showResultTablet = !showResultTablet" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/cssgrid.html"
          frameborder="0"
          width="710px"
          height="800"
        ></iframe>
      </div>
    </div>
    <div v-if="showResultMobile" class="modal">
      <div @click="showResultMobile = !showResultMobile" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/cssgrid.html"
          frameborder="0"
          width="480px"
          height="800"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskTwo",
  data() {
    return {
      showResult: false,
      showResultTablet: false,
      showResultMobile: false,
    };
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
