<template>
  <div class="task">
    <h1 class="task__title">2.3. Wireframe with HTML and CSS</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Implementieren Sie dann ausschließlich mit HTML und CSS Flexbox
          folgendes responsive Webdesign nach der Desktop-First-Strategie!
        </h3>

        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;style&gt; 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;
}

.red {
    flex-grow: 0.5;
    background-color: red;
}

.container {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

.green {
    background-color: green;
    flex-grow: 1;
}
.blue {
    background-color: blue;
    flex-grow: 2;
}
.purple {
    background-color: purple;
    flex-grow: 1;
}


@media screen and (max-width: 600px) {
    .red {
        height: 20vh;
    }
    .container {
        flex-wrap: wrap;
        height: 1000px;
    }

    .green {
        flex-basis: 30%;
        height: 70%;
    }

    .blue {
        flex-basis: 60%;
        height: 70%;
    }

    .purple {
        flex-basis: 100%;
        height: 20%;
    }    
}

@media screen and (max-width: 480px) {
    .green {
        flex-basis: 60%;
        height: 10%;
    }

    .blue {
        flex-basis: 60%;
        height: 70%;
    }

    .purple {
        flex-basis: 100%;
        height: 10%;
    }    
}
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="red"&gt;&lt;/div&gt;
    &lt;div class="container"&gt;
        &lt;div class="green"&gt;&lt;/div&gt;
        &lt;div class="blue"&gt;&lt;/div&gt;
        &lt;div class="purple"&gt;&lt;/div&gt; 
    &lt;/div&gt;
    
&lt;/body&gt;
&lt;/html&gt;

            </code>
          </pre>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResult = !showResult;
              }
            "
            >Desktop Version
          </a>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResultTablet = !showResultTablet;
              }
            "
            >Tablet Version
          </a>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResultMobile = !showResultMobile;
              }
            "
            >Mobile Version
          </a>
        </div>
      </div>
    </div>
    <div v-if="showResult" class="modal">
      <div @click="showResult = !showResult" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/cssflexbox.html"
          frameborder="0"
          width="1100px"
          height="800"
        ></iframe>
      </div>
    </div>
    <div v-if="showResultTablet" class="modal">
      <div @click="showResultTablet = !showResultTablet" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/cssflexbox.html"
          frameborder="0"
          width="590px"
          height="800"
        ></iframe>
      </div>
    </div>
    <div v-if="showResultMobile" class="modal">
      <div @click="showResultMobile = !showResultMobile" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/cssflexbox.html"
          frameborder="0"
          width="480px"
          height="800"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult: false,
      showResultTablet: false,
      showResultMobile: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
