<template>
  <div class="task">
    <h1 class="task__title">2.3. Wireframe with HTML and CSS</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Implementieren Sie folgende
          <a
            href="https://kaul.inf.h-brs.de/we/assets/img/landing.png"
            target="_blank"
            >Landing Page</a
          >
          responsiv mit Grid Layout. <br />
          Vermeiden Sie außerdem das Erscheinen von Scrollbars so weit wie
          möglich.
        </h3>

        <div class="subtask__solution">
          <pre>
            <code class="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;style&gt;
        * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: "h" "t" "c" "f";
    min-height: 100vh;
}

header {
    background-color: rgb(65, 65, 65);
    grid-area: h;
    padding: 20px 0;
}

header nav {
    height: 100%;
}


header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    list-style: none;
}

header nav ul li a,
header nav ul li a:visited {
    text-decoration: none;
    color: white;
}

.title {
    grid-area: t;
    text-align: center;
    background-color: rgb(197, 197, 197);
    padding: 20px;
}

.content {
    grid-area: c;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(197, 197, 197);
    padding: 20px;
}

.content img {
    height: 500px;
}

.content .paragraph {
    text-align: center;
    padding-top: 100px;
}

footer {
    grid-area: f;
    background-color: rgb(1, 1, 36);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
}

button {
    background-color: orange;
    width: 300px;
}

@media screen and (max-width: 800px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .content img {
        width: 400px;
        height: auto;
    }

    .content .paragraph {
        padding-top: 0;
    }
}

@media screen and (max-width: 500px) {
    header nav ul {
        gap: 10px;
        font-size: 3vw;
    }

    h1 {
        font-size: 5vw;
    }

    .content img {
        width: 70vw;
    }

    .content .paragraph {
        font-size: 3vw;
    }

    footer {
        font-size: 3vw;
    }

    button {
        width: 60vw;
        font-size: 3vw;
    }
}
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;header&gt;
        &lt;nav&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a href="#"&gt;The book series&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Testemonials&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;The Author&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Free resources&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/nav&gt;
    &lt;/header&gt;
    
    &lt;h1 class="title"&gt;You Dont know JavaScript&lt;/h1&gt;
    
    &lt;div class="content"&gt;
        &lt;img src="https://kaul.inf.h-brs.de/we/assets/img/landing-img.png" alt="img" /&gt;
        &lt;div class="paragraph"&gt;
                Dont just drift through JavaScript &lt;br&gt; &lt;br&gt; &lt;br&gt;
                Understand how JavaScript works &lt;br&gt; &lt;br&gt; &lt;br&gt;
                Start your journey through the bumpy side of JavaScript &lt;br&gt; &lt;br&gt; &lt;br&gt;
                &lt;button&gt;ORDER YOUR COPY NOW&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
   
    &lt;footer&gt;
        &lt;p&gt;The first ebook in the book series is absolutely free.&lt;/p&gt;
        &lt;button&gt;FIND OUT MORE ABOUT THIS OFFER&lt;/button&gt;
    &lt;/footer&gt; 
&lt;/body&gt;
&lt;/html&gt;

            </code>
          </pre>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResult = !showResult;
              }
            "
            >Desktop Version
          </a>
          <a
            class="linkButton tryButton"
            href="#"
            @click="
              (e) => {
                e.preventDefault();
                showResultMobile = !showResultMobile;
              }
            "
            >Mobile Version
          </a>
        </div>
      </div>
    </div>
    <div v-if="showResult" class="modal">
      <div @click="showResult = !showResult" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/csslandingpage.html"
          frameborder="0"
          width="1100px"
          height="800"
        ></iframe>
      </div>
    </div>
    <div v-if="showResultMobile" class="modal">
      <div @click="showResultMobile = !showResultMobile" class="closeBtn"></div>
      <div class="modal__content">
        <iframe
          src="https://www2.inf.h-brs.de/~akhemi2s/csslandingpage.html"
          frameborder="0"
          width="480px"
          height="800"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskTwo",
  data() {
    return {
      showResult: false,
      showResultMobile: false,
    };
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
