<template>
  <div class="week--content">
    <div class="week--content__taskNr">
      <a
        v-for="(task, index) in getTasks"
        :key="index"
        :href="`solution/${currentSection + 1}#${index + 1}`"
        class="taskNr linkButton"
        :data-index="index"
        :data-clicked="setActiveSubsection(`#${index + 1}`)"
        @click="
          (e) => {
            currentTask = index;
            highlightClickedItem(e, '.week--content__taskNr a');
          }
        "
        >{{ task.name }}</a
      >
    </div>
    <div class="week--content__solution">
      <div class="solution--component">
        <transition name="fade">
          <component :is="getTasks[currentTask].component"></component>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import ScrollMixin from "../../mixins/scroll";
import ToggleSolutionMixin from "../../mixins/toggleSolution";
import LinkHighlighterMixin from "../../mixins/highlightLinks";

import taskTable from "./taskTable";

export default {
  name: "WeeklyViewer",
  data() {
    return {
      currentSection: parseInt(this.$route.params.id) - 1,
      currentTask: this.$route.hash
        ? parseInt(this.$route.hash.replace("#", "")) - 1
        : 0,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  watch: {
    $route() {
      this.currentSection = parseInt(this.$route.params.id) - 1;
      this.currentTask = parseInt(this.$route.hash.replace("#", "")) - 1;
      console.log(this.currentSection, this.currentTask);
      // eslint-disable-next-line no-undef
      hljs.highlightAll();
    },
  },
  computed: {
    getTasks() {
      return taskTable[this.currentSection];
    },
  },
  mixins: [ScrollMixin, ToggleSolutionMixin, LinkHighlighterMixin],
  components: {},
};
</script>

<style>
.fade-enter-active {
  opacity: 0;
  transition: opacity 2s;
}
.fade-enter-to {
  opacity: 1;
}
</style>
