@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@700&display=swap");

:root {
  font-size: min(1vw, 16px);
  --main-bg-color: rgb(12, 12, 12);
  --color-white: #fff;
  --color-theme: rgb(96, 98, 218);
  --color-theme-transparent: rgba(96, 98, 218, 0.2);
  --border-radius: 5px;
  --color-text: rgb(220, 220, 220);
  --font-family-links: "Montagu Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
}

pre code * {
  color: white;
}

html,
body {
  min-height: 100%;
  background-color: var(--main-bg-color);
}

body {
  margin: 0 3px;
}

.customListItem::before {
  content: "\27a3";
  margin-right: 1rem;
}

/* custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-theme);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-theme);
}

@media screen and (max-width: 992px) {
  :root {
    font-size: 1.3vw;
  }
}
