a.linkButton,
a.linkButton:active,
a.linkButton:visited {
  text-decoration: none;
  color: var(--color-gray);
  border: 0.1rem solid var(--color-theme);
  border-radius: var(--border-radius);
  padding: 0.4rem;
  text-align: center;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.1rem;
  font-family: var(--font-family-links);
  font-size: 1rem;
}

a.linkButton:hover,
a.linkButton[data-clicked="1"] {
  background-color: var(--color-theme-transparent);
  text-shadow: 0.2rem 0.2rem 1rem var(--color-text-shadow);
}

a.linkButton[data-clicked="1"],
a.linkButton[data-clicked="1"]:hover {
  background-color: var(--color-theme);
}

a.tryButton {
  float: right;
  margin-left: 0.5rem;
  width: 15rem;
}
