.modal * {
  color: black;
}

.modal {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  height: 100vh;
  z-index: 3;
}

.closeBtn {
  color: white;
  position: absolute;
  right: 20rem;
  top: 5rem;
  font-size: 6rem;
  font-weight: bold;
  cursor: pointer;
}

.closeBtn::after {
  position: absolute;
  content: "+";
  transform: rotate(45deg);
}

.modal__content {
  position: absolute;
  background: white;
  left: 50%;
  transform: translate(-50%, -100%);
  animation: animateModal 1s forwards;
  padding: 2.5rem;
}

@keyframes animateModal {
  from {
    transform: translate(-50%, -100%);
  }
  to {
    transform: translate(-50%, 2rem);
  }
}
