.week--content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  font-size: 1rem;
}

.week--content__taskNr {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.week--content__taskNr {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.week--content__taskNr .taskNr {
  width: 11rem;
}

.week--content__solution {
  display: flex;
  overflow: hidden;
}

.solution--component {
  min-width: 100%;
}

.task__title {
  text-align: center;
  margin-bottom: 2rem;
}

.task__subtasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtask__container {
}

.subtask__solution {
  overflow: hidden;
  max-height: 5000px;
  transition: max-height 3s ease-out;
  padding: 0 2rem;
}

.subtask__title {
  cursor: pointer;
  position: relative;
}

.subtask__title::before {
  content: "\27A4";
  margin-right: 0.3rem;
}

.subtask__title::after {
  content: "\27A4";
  position: absolute;
  right: 0;
  top: 10%;
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.subtask__title.hidden::after {
  transform: rotate(-90deg);
}

.subtask__title.hidden + div.subtask__solution {
  max-height: 0;
  transition: max-height 0s;
}
