<template>
  <div class="task">
    <h1 class="task__title">8.1. Promises</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Erstellen Sie auf Ihrem Server www2.inf.h-brs.de (oder localhost) zwei
          Text-Dateien A.txt und B.txt mit ungefähr gleich vielen Zeilen. <br />
          Laden Sie mit der fetch-API parallel beide Text-Dateien vom Server.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="UTF-8" /&gt;
    &lt;title&gt;Document&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id="text"&gt;&lt;/div&gt;
    &lt;script&gt;
      Promise.all([
        fetch("https://www2.inf.h-brs.de/~akhemi2s/textA.txt"),
        fetch("https://www2.inf.h-brs.de/~akhemi2s/textB.txt"),
      ])
        .then(([promiseA, promiseB]) =&gt;
          Promise.all([promiseA.text(), promiseB.text()])
        )
        .then(([textA, textB]) =&gt; {
          // assuming A and B have the same number of lines
          textALines = textA.split("\n");
          textBLines = textB.split("\n");

          let concat = "";

          textALines.forEach((line, index) =&gt; {
            concat += line + textBLines[index] + "\n";
          });

          document.getElementById("text").innerText = concat;
        });
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;    
              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {
      showResult1: false,
      showResult2: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
