<template>
  <div class="task">
    <h1 class="task__title">8.2. async / await</h1>
    <div class="task__subtasks">
      <div class="subtask__container">
        <h3 class="subtask__title hidden" @click="showHideSolution">
          Lösen Sie die letzte Aufgabe mit async / await statt Promise.
        </h3>

        <div class="subtask__solution">
          <pre>
              <code>
&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="UTF-8" /&gt;
    &lt;title&gt;Document&lt;/title&gt;

    &lt;script&gt;
      async function concatText() {
        const [promiseA, promiseB] = await Promise.all([
          fetch("https://www2.inf.h-brs.de/~akhemi2s/textA.txt"),
          fetch("https://www2.inf.h-brs.de/~akhemi2s/textB.txt"),
        ]);

        const [textA, textB] = await Promise.all([
          promiseA.text(),
          promiseB.text(),
        ]);

        textALines = textA.split("\n");
        textBLines = textB.split("\n");

        let concat = "";

        textALines.forEach((line, index) =&gt; {
          concat += line + textBLines[index] + "\n";
        });
        document.getElementById("text").innerText = concat;
      }
    &lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id="text"&gt;&lt;/div&gt;
    &lt;script&gt;
      concatText();
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;

              </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleSolutionMixin from "../../../mixins/toggleSolution";
export default {
  name: "TaskOne",
  data() {
    return {};
  },
  mounted() {
    // eslint-disable-next-line no-undef
    hljs.highlightAll();
  },
  mixins: [ToggleSolutionMixin],
};
</script>

<style scoped></style>
