<template>
  <div class="footer">
    <div><u>Author:</u> &nbsp;Ameur Khemissi</div>
    <div>
      <u>Email:</u>&nbsp;&nbsp;
      <a href="mailto:ameur.khemissi@smail.inf.h-brs.de"
        >ameur.khemissi@smail.inf.h-brs.de</a
      >
    </div>
    <div class="switch--container">
      <label class="switch">
        <input type="checkbox" :checked="darkmode" @change="toggleMode" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  data() {
    return {
      darkmode: true,
      mode: {
        dark: {
          bgColor: "rgb(12,12,12)",
          textColor: "rgb(220, 220, 220)",
        },
        light: {
          bgColor: "#fff",
          textColor: "#000",
        },
      },
    };
  },
  methods: {
    toggleMode() {
      if (this.darkmode === true) {
        const { bgColor, textColor } = this.mode.light;
        document.documentElement.style.setProperty("--main-bg-color", bgColor);
        document.documentElement.style.setProperty("--color-text", textColor);
      } else {
        const { bgColor, textColor } = this.mode.dark;
        document.documentElement.style.setProperty("--main-bg-color", bgColor);
        document.documentElement.style.setProperty("--color-text", textColor);
      }
      this.darkmode = !this.darkmode;
    },
  },
};
</script>

<style scoped>
.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}

a,
a:hover,
a:active,
a:visited {
  height: 20px;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  letter-spacing: 0;
}

.switch--container {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch--container::after {
  content: url("../assets/darkmode.svg");
  display: inline-block;
  width: 25px;
  margin-left: 5px;
}

/* source w3schools */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-theme);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-theme);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
