<template>
  <header class="header">
    <!--<img src="./assets/hbrslogo.jpg" alt="hbrs logo" /> -->
    <nav>
      <router-link
        v-for="(nav, i) in navigation"
        :key="i"
        class="linkButton"
        :to="nav.to"
        @click="(e) => highlightClickedItem(e, 'header a')"
        :data-clicked="setActiveLink(nav.regEx)"
        >{{ nav.name }}</router-link
      >
    </nav>
  </header>
</template>

<script>
import LinkHighlighterMixin from "../mixins/highlightLinks";
export default {
  name: "Header",
  data() {
    return {
      navigation: [
        { name: "HOME", to: "/", regEx: /^\/$/ },
        {
          name: "SOLUTIONS",
          to: "/solution/1",
          regEx: /^\/solution/,
        },
        { name: "ABOUT", to: "/about", regEx: /^\/about/ },
        { name: "LINKS", to: "/links", regEx: /^\/links/ },
      ],
    };
  },
  methods: {
    setActiveLink(regEx) {
      return regEx.test(window.location.pathname) ? 1 : 0;
    },
  },
  mixins: [LinkHighlighterMixin],
};
</script>

<style scoped>
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  position: relative;
}

.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 1rem;
}

.header nav a,
.header nav a:visited,
.header nav a:active {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 10rem;
}
</style>
