<template>
  <div class="container">
    <div class="sidebar">
      <router-link
        class="linkButton"
        v-for="(s, i) in sections"
        :key="i"
        :to="'/solution/' + (i + 1) + '#1'"
        data-sound="true"
        :data-clicked="setActiveSection(i + 1)"
        @click="(e) => highlightClickedItem(e, '.sidebar a')"
        >{{ s }}</router-link
      >
    </div>
    <div class="content">
      <WeeklyViewer />
    </div>
  </div>
</template>

<script>
import WeeklyViewer from "./Solutions/WeeklyViewer.vue";
import LinkHighlighterMixin from "../mixins/highlightLinks";
export default {
  name: "SolutionNavigator",
  props: {
    sections: Array,
  },
  data() {
    return {};
  },
  mounted() {
    this.animateLinks();
  },
  methods: {
    animateLinks() {
      const sidebarLinks = document.querySelectorAll(".sidebar a");
      sidebarLinks.forEach((item, index) => {
        setTimeout(() => {
          item.style.transform = "translateX(0)";
        }, index * 100);
      });
    },
  },
  components: {
    WeeklyViewer,
  },
  mixins: [LinkHighlighterMixin],
};
</script>

<style scoped>
.container {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 0.3fr 1fr;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-theme);
  height: 80vh;
  padding: 2rem;
}

.container .sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  grid-area: sidebar;
  gap: 0.2rem;
  overflow: hidden;
}

.sidebar a,
.sidebar a:active,
.sidebar a:visited {
  font-size: 0.8rem;
  width: 11rem;
  transform: translateX(-101%);
  text-align: left;
}

a::after {
  content: "\27A4";
  float: right;
}

.sidebar a:hover {
  width: 13rem;
}

.sidebar a[data-clicked="1"],
.sidebar a[data-clicked="1"]:hover {
  width: 13rem;
}

.container .content {
  grid-area: content;
  overflow-y: auto;
}
</style>
